@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", serif;
}

.options,
.coverpage,
.link {
  transition: all 0.2s ease-out;
}
.centerbox {
  box-shadow: 0px 0px 32px -3px rgba(1, 1, 1, 0.25);
}

.centerboxbelowbox {
  box-shadow: 0px 0px 56px 0px rgba(0, 0, 0, 0.39);
}

.menu {
  transition: all 0.6s ease-out;
}

.repo::-webkit-scrollbar {
  display: none;
}
